<% provide(:title, @title) %>
<h1><%= @author.username %></h1>
<p><%= link_to "View my Profile", @author %></p>
<b>Statuses:</b> <%= @author.author_statuses.count %>

<%= render 'shared/stats' %>

<h3><%= @title %></h3>
<% if @authors.any? %>
<%= render @authors %>
<div class="pag"><%= will_paginate %></div>
<% end %>