<% @author ||= current_author %>
<% provide(:title, @author.username) %>
<h1><%= @author.username %></h1>
<p><b><%= @author.location %></b> <%= link_to "Projects", projects_author_path(@author.id) %></p>

<div class="authorNav">
<ul>
<li><%= link_to "Projects", projects_author_path(@author.id) %></li>
<li><a href="<%= followers_author_path(@author) %>">watched by <%= pluralize(@author.followers.count, 'author') %></a></li>
<li><%= link_to "Favorites", '#' %></li>
</ul>
</div>

<%= render 'follow_form' if signed_in? %>


<p><%= @author.summary %></p>

<div class="statusIndex">
<% if @author.author_statuses.any? %>
<h3>Statuses: <%= @author.author_statuses.count %></h3>
<ul>
<%= render @author_statuses %>
</ul>
<div class="pag"><%= will_paginate @author_statuses %>
<% end %>
</div>