<% provide(:title, "Edit " + @project.name) %>

<h1>Edit <%= @chapter.title %></h1>

<%= form_for([@project, @chapter]) do |f| %>
<%= render 'shared/error_messages', object: f.object %>

<%= f.label :title %>
<%= f.text_field :title %><br>

<%= f.label :body %>
<%= f.text_field :body %><br>

<%= f.label :notes %>
<%= f.text_area :notes %><br>

<%= f.submit "Update Chapter" %>
<% end %>
